@tailwind base;
@tailwind components;
@tailwind utilities;  

*{
  box-sizing: border-box;
}

@layer base{
  body {
    @apply text-gray-300 bg-zinc-800
  }
  textarea{
    @apply  text-gray-800 p-2
  }
  h2{
    @apply text-2xl font-bold m-auto
  }
  p{
    @apply py-2
  }
  input{
    @apply mb-1 ml-1 rounded-sm p-1 text-gray-800
  }

  img{
    @apply rounded-md  box-border  justify-items-center 
  }

  .nav-element {
    @apply p-4
  }
  .btn {
    @apply p-4 h-14 border-2 bg-zinc-400 text-zinc-800 hover:text-zinc-400 hover:bg-zinc-800 transition font-medium

  }
  
  /* ----------------Carousel related --------------- */

  .prev-succ-btn{
    @apply h-10 w-10 -translate-y-5
  }
  
  .prev-succ-btn>*{
    @apply h-10 w-10 text-gray-700 font-bold opacity-100
  }
  .prev-succ-btn>*:hover{
    @apply opacity-70
  }
  .carousel-container{
    @apply px-40 py-10 
  }

  /* --------------------- */
  
  .appointment-card{
    @apply bg-zinc-300 text-stone-700 h-80 w-60
  }
  .booking-component {
    @apply h-full w-full bg-gray-700 }

  .booking-form{
    @apply  w-80 h-96 m-auto flex justify-center items-center 
  }
  .dialog-booking{
    @apply  w-80 h-96 
  }
  .artist-booking {
    @apply  gap-4 gap-y-16 p-20 justify-around h-full
  }
  .card{
    @apply hover:scale-105 hover:brightness-75 transition-all 
  }


  .form-item{
    @apply transition-all duration-700 transform opacity-0
  }
}

/* background */

.backgroundImage {
  background-image: url("./assets/img-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.booking-component {
  background-image: url("./assets/bg-ink.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 


  scrollbar-width: none;
  overflow-y: scroll;
  
}
.artist-page{
  scrollbar-width: none;
  overflow-y: scroll;
  
}
.artists-list{
  scrollbar-width: none;
  overflow-y: scroll;
  
}


.icon{
  width: 100%;
  height: 100%;
}

.artist-page::-webkit-scrollbar {
  display: none;
}